{{>navVistaPrueba}}
  <style>
    @font-face {
    font-family: 'Gotham-Bold';
    src:url('../../fonts/Gotham-Bold.otf');
}
body{
  background: white !important;
}
.fontTitle{
    font-family: "Gotham-Bold";
}
.containerLeft{
  /*background: #F1F1F1 !important;*/
  margin:auto;
width:100%;
padding:5%;
background-color:white;
  border: solid;
border-color:#f1f1f0;
box-shadow:0px 0px 20px 5px #f1f1f1;
}
.containerRight{
  background: #F1F1F1 !important;
  margin:auto;
width:135%;
padding:5%;
margin-top: 3.2%;
background-color:white;
  border: solid;
border-color:#f1f1f0;
box-shadow:0px 0px 20px 5px #f1f1f1;
}
  </style>
  <div>
    		{{>sideNavVistaPrueba}}
    <div>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </div>
    <div id="mainwin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <br>
            <div class="containerLeft">
              <br>
              <span class="border">
                <div id="treeView fontTitle" class="treeViewBody">
                  <div class="title-font snd-title text-center" style="font-weight: bolder;">Contenido</div>
                  <div id="collapseDVR3" class="panel-collapse collapseTree in">
                    <div class="tree ">

                      <ul>
                        <li> <span><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Manual del SGM</span>

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Función
                            Metrológica</span>
                          <ul>

                            <li> <span> <img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Responsiva de la Función Metrológica</span>
                            <li> <span> <img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Designación</span>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Objetivos de
                                Calidad e Indicadores</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Requerimientos
                                Legales</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Alcance del
                                SGM</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Something</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Revisión
                                por la Dirección</span>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de la
                            Información y Documentos</span>
                          <ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Control de
                                Documentos del SGM</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Lista
                                    Maestra de Documentos</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Distribución de Copias Controladas</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Control de
                                Registros del SGM</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Registros en Formatos</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Registros en Bitacoras</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Control de
                                Información de Instrumentos, Equipos y Software de los SM</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Lista
                                    de Instrumentos y Equipos de Medición (EP, ES, ET, UCC)</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Lista
                                    de Software (EP, ES, ET, UCC)</span> <a style="margin-left: 5px; color: #218c74cc">
                                  </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Control de
                                Registros de Medición de los SM</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Históricos de Medición Cuantitativa de Hidrocarburos</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Historicos de Medición Cualitativa de Hidrocarburos</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de los
                            Recursos Humanos</span>
                          <ul>

                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Requerimientos
                                Organizacionales</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Declaración del Organigrama</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Descripción de Perfil de Puestos</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Listado del Personal</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Competencias,
                                Capacitación y Entrenamiento</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Detección de Necesidades de Capacitación</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Programa de Capacitación</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Evaluación del Entendimiento del Procedimiento</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Certificación de Competencias</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Supervisión al Personal en Entrenamiento</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Evaluación del Desempeño</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Identificación de Mejoras al Proceso</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de los
                            Recursos Materiales, Instrumentos, Equipos y Software</span>
                          <ul>

                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Requerimientos
                                Técnicos y Recomendaciones del Fabricante</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Requerimientos Técnicos y Recomendaciones del Fabricante</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Ciclo de Vida de
                                los Instrumentos, Equipos y Software de Medición</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Control de los Instrumentos, Equipos y Software de Medición</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Control de Sellos</span> <a style="margin-left: 5px; color: #218c74cc">
                                  </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Bitacora de Control de Sellos</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Programa de
                                Mantenimiento, Calibración, Verificación y Confirmación Metrológica</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Programa de Mantenimiento</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Programa de Calibración</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Programa de Verificación</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Programa de Confirmación Metrológica</span> <a
                                    style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de Proveedores
                            y Prestadores de Servicio</span>
                          <ul>

                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Evaluación
                                de Proveedores de Instrumentos y Equipos</span> <a
                                style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Evaluación
                                de Proveedores de Programas Informáticos</span> <a
                                style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Evaluación
                                de Prestador de Servicios de Tecnologías de Información y Seguridad Informática</span>
                              <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Evaluación
                                de Prestador de Servicios de Consultoría</span> <a
                                style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Evaluación
                                de Laboratorios de Calibración y/o Verificación</span> <a
                                style="margin-left: 5px; color: #218c74cc"> </a>

                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de las
                            Comunicaciones</span>
                          <ul>

                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Minuta</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Lista de
                                Asistencia</span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Cuestionario de Satisfacción del Cliente</span> <a
                                style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Bitacora
                                de Seguimiento de la Satisfacción al Cliente</span> <a
                                style="margin-left: 5px; color: #218c74cc"> </a>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión del
                            Cambio</span>
                          <ul>

                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Procesos
                                de Medición </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Recusos
                                Humanos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Recursos
                                Materiales
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Información y Documentos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>

                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de los
                            Procesos de Medición</span>
                          <ul>

                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Procedimientos de
                                Diseño de Sistemas de Medición y Continuidad Operativa
                              </span>
                              <ul>
                                <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                      src="/assets/folder.png" width="20" height="20" alt="logo">Medición
                                    Dinámica

                                  </span>
                                  <ul>

                                    <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Ingeniería de los Sistemas de Medición Dinámica
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                  </ul>
                                <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                      src="/assets/folder.png" width="20" height="20" alt="logo">Medición
                                    Estática

                                  </span>
                                  <ul>

                                    <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Ingeniería de los Sistemas de Medición Dinámica
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                  </ul>
                                <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                      src="/assets/folder.png" width="20" height="20" alt="logo">Unidad Central
                                    de Control - UCC

                                  </span>
                                  <ul>

                                    <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Ingeniería del Site Local y/o Site Corporativo de la UCC
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                  </ul>
                                <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                      src="/assets/folder.png" width="20" height="20"
                                      alt="logo">Establecimiento de Requisitos de Suministro Electríco, Comunicaciones y
                                    TI

                                  </span>
                                  <ul>

                                    <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Ingeniería de Suministro Electríco y Sistemas Ininterrumpibles
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                    <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Filosofía de Comunicaciones
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                  </ul>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Procedimientos de
                                Ejecución de los Procesos de Medición Cuantitativa
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Medición de Entrada
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Medición en Almacenamiento
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Medición en Transporte
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                          <li> <span><img src="/assets/docs.png" width="20" height="20"
                                            alt="logo">Medición de Salida
                                          </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                              alt="logo">Balance Operativo
                                            </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                              <li> <span><img src="/assets/docs.png" width="20" height="20"
                                                alt="logo">Conciliación, Transferencia de Custodia, Medición Fiscal y Ejecución Contractual-Convenios
                                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                                  alt="logo">Balance Fiscal
                                                </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Procedimientos de
                                Confiabilidad Operativa de los Sistemas de Medición Cuantitativa
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Evaluación de la Confiabilidad Operativa del Sistema de Medición 
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Instructivos de
                                Validación de Equipo y Software
                              </span>
                              <ul>

                                <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Validación de Equipo

                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Validación de Equipo
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                              <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                src="/assets/folder.png" width="20" height="20" alt="logo">Validación de Software

                            </span>
                            <ul>

                              <li> <span><img src="/assets/docs.png" width="20" height="20"
                                    alt="logo">Validación de Software
                                  </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            </ul>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Instructivos de
                                Verificación de Instrumentos de Medición (Elementos Primarios y Secundarios)
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Verificación de Medidor de Flujo
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Verificación de Tanque de Almacenamiento
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Verificación de Sonda de Nivel
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                          <li> <span><img src="/assets/docs.png" width="20" height="20"
                                            alt="logo">Verificación de Instrumento de Temperatura
                                          </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                              alt="logo">Verificación de Densímetro
                                            </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Instructivos de
                                Verificación de Mediciones en Transferencia de Custodia
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Verificación de Volumen de Embarque Recibido
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Verificación de Volumen Almacenado
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Verificación de Volumen de Embarque Enviado
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Instructivos de
                                Verificación de la Calidad de Hidrocarburos
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Verificación de Procedencia y Calidad de Hidrocarburos de Embarque Recibido
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Verificación de Densidad de Embarque Recibido
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Verificación de Calidad de Hidrocarburos de Lote Almacenado
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                          <li> <span><img src="/assets/docs.png" width="20" height="20"
                                            alt="logo">Verificación de Nivel de Agua y Drenado de Agua
                                          </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                              alt="logo">Verificación de Densidad de Lote Almacenado
                                            </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                              <li> <span><img src="/assets/docs.png" width="20" height="20"
                                                alt="logo">Verificación de Densidad de Embarque Enviado
                                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Instructivos de
                                Muestreo
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Muestreo de Producto en Embarque Recibido
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Muestreo de Producto en Lote Almacenado
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Muestreo de Producto en Embarque Enviado
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                          <li> <span><img src="/assets/docs.png" width="20" height="20"
                                            alt="logo">Bitacora de Muestreo
                                          </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Confirmación
                                Metrológica de Instrumentos de Medición
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Determinación de los Requisitos Metrológicos de Instrumentos de Medición
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Integración de los Resultados de Calibración de Instrumentos de Medición
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Evaluación de la Aptitud de Instrumentos de Medición
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                          <li> <span><img src="/assets/docs.png" width="20" height="20"
                                            alt="logo">Integración de los Resultados de Verificación de Instrumentos de Medición
                                          </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                              alt="logo">Evaluación de la Confiabilidad de Instrumentos de Medición
                                            </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                              <li> <span><img src="/assets/docs.png" width="20" height="20"
                                                alt="logo">Ajuste de Factores de Instrumentos de Medición
                                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                                  alt="logo">Bitacora de Confirmación Metrológica
                                                </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                                  <li> <span><img src="/assets/docs.png" width="20" height="20"
                                                    alt="logo">Bitacora de Ajuste de Factores de Instrumentos de Medición
                                                  </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Determinación de
                                los Intervalos de Calibración y Verificación de Equipos Primarios y Secundarios
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Determinación de los Intervalos de Calibración de Instrumentos de Medición
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Determinación de los Intervalos de Verificación de Instrumentos de Medición
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Validación de
                                Sistemas de Medición y Equipos Terciarios
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Determinación de los Requisitos Metrológicos de Sistemas de Medición
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Integración de los Resultados de Estimación de Incertidumbre de SM
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Validación de Sistemas de Medición Dinámica
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                          <li> <span><img src="/assets/docs.png" width="20" height="20"
                                            alt="logo">Validación de Sistemas de Medición Estática
                                          </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Validación del
                                Proceso de Balance y Equipos UCC
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Determinación de los Requisitos Metrológicos del Balance (Diferencias Volumétricas - DV)
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                      <li> <span><img src="/assets/docs.png" width="20" height="20"
                                        alt="logo">Integración de los Resultados de la Estimación de la Diferencia Máxima Permitida - DMP
                                      </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                        <li> <span><img src="/assets/docs.png" width="20" height="20"
                                          alt="logo">Evaluación de la DMP contra la DV
                                        </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Verificación del
                                Prroceso de Transferencia de Custodia</span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Evaluación del Error Normalizado entre Mediciones en Transferencia de Custodia
                                    </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de la
                            Incertidumbre y Trazabilidad</span>
                          <ul>

                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Integración de los Resultados de Calibración de Elementos Primarios y
                                Secundarios, y su Trazabilidad
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Estimación
                                de la Incertidumbre de Sistemas de Medición Dinámica
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Estimación
                                de la Incertidumbre de Sistemas de Medición Estática
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Estimación
                                de la Diferencia Máxima Permitida en Balance
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Integración de los Resultados de Calibración de Patrones de Trabajo para
                                Verificaciones, y su Trazabilidad
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Estimación
                                de Incertidumbre de Elementos Primarios y Secundarios Verificados
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>

                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo"> Control Estadístico y
                            Toma de Decisiones de No Conformidades</span>
                          <ul>



                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Medidor de Flujo
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Tanque de Almacenamiento
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Sonda de Nivel
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Instrumento de Temperatura
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Densímetro
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Instrumento de Presión
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Báscula
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control del Error Normalizado entre Mediciones en Transferencia de Custodia
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Desviaciones Volumétricas en el Balance</span> <a
                                style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Carta de
                                Control de Calidad de Hidrocarburos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Bitacora
                                de Tratamiento de Equipo No Conforme
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Bitacora
                                de Tratamiento de Proceso No Conforme
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Bitacora
                                de Tratamiento de Producto No Conforme
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo"> Auditorias</span>
                          <ul>

                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Programa
                                de Auditorias
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Auditorias
                                Internas (Primera y Segunda Parte)
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Plan
                                    de Auditoria
                                  </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Guias
                                    de Auditoria por Proceso
                                  </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Informe de Auditoria
                                  </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                            <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                                  src="/assets/folder.png" width="20" height="20" alt="logo">Auditorias
                                Externas (Tercera Parte) e Inspecciones
                              </span>
                              <ul>

                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Expediente de Auditoria
                                  </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                                <li> <span><img src="/assets/docs.png" width="20" height="20"
                                      alt="logo">Expediente de Inspección
                                  </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                              </ul>
                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Análisis y
                            Mejora</span>
                          <ul>

                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Análisis
                                Causa Raiz de Hallazgos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Plan de
                                Atención de Hallazgos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Finalización de Atención de Hallazgos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>

                          </ul>
                          

                        <li> <span> <i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Gestión de Riesgos de
                            Medición</span>
                          <ul>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Identificación de Riesgos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">Evaluación
                                de Riesgos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Establecimiento de Capas de Protección o Mitigación de Riesgos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Determinación de Escenarios de Impacto por Mediciones Incorrectas
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                          </ul>
                          
                        <li> <span><i class="fa fa-plus-square" style="margin-right: 5px;"></i><img
                              src="/assets/folder.png" width="20" height="20" alt="logo">Inteligencia de
                            negocios</span>
                          <ul>
                            <li> <span><img src="/assets/docs.png" width="20" height="20"
                                  alt="logo">Cartografía de Unidades
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">KPIs de
                                Logro Comercial
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                            <li> <span><img src="/assets/docs.png" width="20" height="20" alt="logo">KPIs
                                Operativos
                              </span> <a style="margin-left: 5px; color: #218c74cc"> </a>
                          </ul>

                      </ul>




                    </div>
                  </div>

                </div>
              </span>
            </div>
          </div>
          <div class="col-8 col-sm-6">
            <div class="container-fluid containerRight text-right">
              <p id="" class="btn btn-primary align-self-center  ml-3 nowrap"
                style="white-space: nowrap;border-radius: 8px; margin-bottom: 10px; color:white;">Imprimir</p>
              <div class="row">
                <div class="col-4 text-center">
                  <h3 class="fontTitle">REGISTRO</h3>
                </div>
                <div class="col text-left">
                  <h3 class="fontTitle">FORMATO</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="containerLeft">
                    {{!-- <img src="/assets/imagen1.png" width="280" alt="logo"> --}}
                    <embed src="/pdf/certificaciones/MESS-CC-PRP-0125-2021.pdf" width="800px" height="800px" />
                  </div>
                </div>
                {{!-- <div class="col">
                  <div class="containerLeft">
                    {{!-- <img src="/assets/imagen2.png" width="600" alt="logo"> --}}

                  </div> --}}
                </div>
              </div>
            </div>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>

<script src="/js/treeView.js"></script>
