
{{>navVistaPrueba}}

<div>
  {{>sideNavVistaPrueba}}

</div>
<style>
    .eye{

  top: 40px;
  left : 0px;
  z-index: -1;
}

.heaven
{


  position:absolute;
  z-index: 1;
  top:435px;
  right: 920px;


}

.come-from-modal.right.fade .modal-dialog {
    right: -700px;
    top: 150px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}
.modal-backdrop {
     background-color: rgba(0,0,0,.0001) !important;
}

input[readonly] {
  background-color: white !important;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
</style>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
  <div id="mainwin">
                {{!-- <img src="/assets/green.png" width="25" height="25" alt="" style="top: 100px; right:100px">  --}}
    <div class="container-fluid">
        <div class="row ">
            <div class="col">
          <div class="text-center"  style="position: relative; left: 10; top: 0;">
		<img src="/assets/MapaMexico.svg" width="1000" height="1000" class='eye'/>
		<img src="/assets/green.png"  width="20" height="20" class="heaven" data-toggle="tooltip" data-placement="top" title="Puebla" data-bs-toggle="modal" data-bs-target="#Map"/>
	</div>
            </div>
        </div>
  </div>

</div>


<div class="modal fade  come-from-modal right" id="Map" tabindex="-1" role="dialog" aria-labelledby="MapLabel" data-bs-backdrop="static" data-bs-keyboard="false">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Puebla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">Nombre de la gasolinera</span>
      <input type="text" readonly class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
  </div>
  <br>
    <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">Ubicación</span>
      <input type="text" readonly class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
  </div>
  <br>
    <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">id</span>
      <input type="text" readonly class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
  </div>
  <br>
      </div>
      <div class="modal-footer">
        <form action="/VistaPrueba/TiempoReal/">
          <button type="submit" class="btn btn-primary">Medición tiempo real</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
{{!-- 
Ese modal que se active o se despliegue dando el nombre de la gasolinera lugar y alguna id y que te de el botón de tiempo real
 --}}