<header class="site-header">
  <title>{{pageTitle}}</title>
  <nav class="navbar navbar-expand-lg navbar-light container-title" style="background-color: #fff">
    <div class="container  container-title">
      <a class="navbar-brand" href="/produccion/{{uid}}">
        <img src="/assets/0_LogoEkide.svg" width="250" alt="ekidelogo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <h2 style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 0; font-family: calibri " class="justify-content-center d-none d-lg-block" >{{title}}</h2>
        <ul class="navbar-nav ">         
          <li class="nav-item usericon">
            <div class="nav-link d-none d-lg-block" href="#"> <img src="/assets/usericon.svg" width="50" alt=""> </div>
          </li>		      
          <div class="align-self-center username mx-3" style="text-transform: lowercase;" >{{Nombre}}</div>	
                    <p id="sign-out-proveedor"  class="btn align-self-center sign-out-btn ml-3 nowrap" style="white-space: nowrap">Cerrar sesión</p>                             
        </ul>
      </div>
    </div>
  </nav>
</header>