<link rel="stylesheet" href="/css/evo-calendar.css">
<link rel="stylesheet" href="/css/evo-calendar.royal-navy.css">

<div class="sidenav-body">
  <div id="mySidenav" class="sidenav">
    <a href="/utiles/{{uid}}" id="homeNav" class="">
      <img id="homeImg" src="/assets/home.svg" width="30" style="padding-right: 8px; vertical-align: baseline;">
      Inicio
    </a>
    <a href="/utiles/Cotizar/cotizacion" id="qrScannerNav" class="">
      <img id="qrScannerImg" src="/assets/QrScanner.svg" width="30"
        style="padding-right: 8px; vertical-align: baseline">
        Cotizar
    </a>
        <a href="/utiles/Costo/Utiles" id="qrScannerNav" class="">
      <img id="qrScannerImg" src="/assets/QrScanner.svg" width="30"
        style="padding-right: 8px; vertical-align: baseline">
        Costos Utiles
    </a>
            <a href="/utiles/produccion/Utiles" hidden id="qrScannerNav" class="">
      <img id="qrScannerImg" src="/assets/QrScanner.svg" width="30"
        style="padding-right: 8px; vertical-align: baseline">
        produccion Utiles
    </a>
                <a href="/utiles/tabla/Utiles" hidden id="qrScannerNav" class="">
      <img id="qrScannerImg" src="/assets/QrScanner.svg" width="30"
        style="padding-right: 8px; vertical-align: baseline">
        tabla Utiles
    </a>
                <a href="/utiles/categoria/tornilleria" id="qrScannerNav" class="">
      <img id="qrScannerImg" src="/assets/QrScanner.svg" width="30"
        style="padding-right: 8px; vertical-align: baseline">
        Tornilleria
    </a>

  </div>
  <button id="openNavBtn" class="btn sidenav-button" onclick="openNav()"> <img src="/assets/right-arrow.svg"
      width="10px" alt=""> </button>
  <button id="closeNavBtn" class="btn sidenav-button" onclick="closeNav()"> <img src="/assets/left-arrow.svg"
      width="10px" alt=""> </button>

  <script src="/js/sidenav.js"></script>

</div>
<!-- Modal Calendario -->
